*{
    padding:0;
    margin:0;
    list-style: none;
}
.sliderimg{
width:100%;

}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.color{
    background-color: #e85f51;
    width: 100%;
}
.container{
max-width: 920px;
margin:auto;
}
.imgstyle{
    max-width: 100%;
}
.customh{
    color:white;
    font-weight: 400;
    margin: 2rem 0px;
}
